@font-face {
	font-family: garnett;
	src: url('/fonts/Garnett/Garnett-Light.otf');
	font-weight: 300;
}
@font-face {
	font-family: garnett;
	src: url('/fonts/Garnett/Garnett-Regular.otf');
	font-weight: 400;
}
@font-face {
	font-family: garnett;
	src: url('/fonts/Garnett/Garnett-Medium.otf');
	font-weight: 500;
}
@font-face {
	font-family: freizeit120;
	src: url('/fonts/Freizeit/Freizeit120-Light.otf');
	font-weight: 300;
}
@font-face {
	font-family: freizeit120;
	src: url('/fonts/Freizeit/Freizeit120-Regular.otf');
	font-weight: 400;
}
body {
	font-family: freizeit120;
}
:root {
	/* -------------------------------------------------------------------------- */
	/*                                 Typography                                 */
	/* -------------------------------------------------------------------------- */
	--fsz-xs: clamp(0.5625rem, 0.4773rem + 0.2273vw, 0.75rem);/* 9px to 12px */
	--fsz-sm: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);/* 12px to 18px */
	--fsz-md: clamp(1.125rem, 0.9545rem + 0.4545vw, 1.5rem);/* 18px to 24px */
	--fsz-lg: clamp(1.5rem, 1.2727rem + 0.6061vw, 2rem);/* 24px to 32px */
	--fsz-xl: clamp(2rem, 1.5455rem + 1.2121vw, 3rem);/* 32px to 48px */
	--fsz-2xl: clamp(3rem, 2.5455rem + 1.2121vw, 4rem);/* 48px to 64px */
	--fsz-3xl: clamp(4rem, 3.0909rem + 2.4242vw, 6rem)/* 64px to 96px */
	/* -------------------------------------------------------------------------- */
	/*                                   Spacing                                  */
	/* -------------------------------------------------------------------------- */
	--space-3xs: 2px;
	--space-2xs: 4px;
	--space-xs: 8px;
	--space-sm: 12px;
	--space-md: 16px;
	--space-lg: 20px;
	--space-xl: 24px;
	--space-2xl: 40px;
	--space-3xl: 64px;
}
body {
	background-color: #f5f5f5;
	margin: 0;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: 24px;

	padding: var(--space-xl);
	background-color: #fbbc03;
}
.aboveFold {
	height: 100vh;
	padding: 16px;
	padding: var(--space-md);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.aboveFold > h1 {
		margin: auto;
		font-size: clamp(3rem, 2.5455rem + 1.2121vw, 4rem);
		font-size: var(--fsz-2xl);
		font-weight: 500;
	}
@media (max-width: 600px) {
.aboveFold > h1 {
			font-size: clamp(2rem, 1.5455rem + 1.2121vw, 3rem);
			font-size: var(--fsz-xl);
	}
		}