
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
	height: auto;
}
a {
	color: inherit;
	text-decoration: none;
}
@font-face {
	font-family: garnett;
	src: url('/fonts/Garnett/Garnett-Light.otf');
	font-weight: 300;
}
@font-face {
	font-family: garnett;
	src: url('/fonts/Garnett/Garnett-Regular.otf');
	font-weight: 400;
}
@font-face {
	font-family: garnett;
	src: url('/fonts/Garnett/Garnett-Medium.otf');
	font-weight: 500;
}
@font-face {
	font-family: freizeit120;
	src: url('/fonts/Freizeit/Freizeit120-Light.otf');
	font-weight: 300;
}
@font-face {
	font-family: freizeit120;
	src: url('/fonts/Freizeit/Freizeit120-Regular.otf');
	font-weight: 400;
}
@font-face {
	font-family: freizeit120;
	src: url('/fonts/Freizeit/Freizeit120-Medium.otf');
	font-weight: 500;
}
body {
	font-family: freizeit120;
}
h1 {
	font-size: clamp(4rem, 3.0909rem + 2.4242vw, 6rem);
	font-size: var(--fsz-3xl);
		font-weight: 500;
}
@media (max-width: 600px) {
h1 {
			font-size: clamp(3rem, 2.5455rem + 1.2121vw, 4rem);
			font-size: var(--fsz-2xl);
}
		}
h2 {
	font-size: clamp(3rem, 2.5455rem + 1.2121vw, 4rem);
	font-size: var(--fsz-2xl);
		font-weight: 500;
}
@media (max-width: 600px) {
h2 {
			font-size: clamp(2rem, 1.5455rem + 1.2121vw, 3rem);
			font-size: var(--fsz-xl);
}
		}
h3 {
	font-size: clamp(2rem, 1.5455rem + 1.2121vw, 3rem);
	font-size: var(--fsz-xl);
		font-weight: 500;
		font-weight: 400;
}
@media (max-width: 600px) {
h3 {
			font-size: clamp(1.5rem, 1.2727rem + 0.6061vw, 2rem);
			font-size: var(--fsz-lg);
}
		}
h4 {
	font-size: clamp(1.5rem, 1.2727rem + 0.6061vw, 2rem);
	font-size: var(--fsz-lg);
	font-weight: 400;
}
@media (max-width: 600px) {
h4 {
			font-size: clamp(1.125rem, 0.9545rem + 0.4545vw, 1.5rem);
			font-size: var(--fsz-md);
}
		}
strong {
	color: rgb(251, 173, 0);
	color: color(display-p3 0.95358 0.68394 0.00000);
	color: var(--yellow80);
}
:root {
	/* -------------------------------------------------------------------------- */
	/*                                 Typography                                 */
	/* -------------------------------------------------------------------------- */
	--fsz-xs: clamp(0.5625rem, 0.4773rem + 0.2273vw, 0.75rem);/* 9px to 12px */
	--fsz-sm: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);/* 12px to 18px */
	--fsz-md: clamp(1.125rem, 0.9545rem + 0.4545vw, 1.5rem);/* 18px to 24px */
	--fsz-lg: clamp(1.5rem, 1.2727rem + 0.6061vw, 2rem);/* 24px to 32px */
	--fsz-xl: clamp(2rem, 1.5455rem + 1.2121vw, 3rem);/* 32px to 48px */
	--fsz-2xl: clamp(3rem, 2.5455rem + 1.2121vw, 4rem);/* 48px to 64px */
	--fsz-3xl: clamp(4rem, 3.0909rem + 2.4242vw, 6rem);/* 64px to 96px */
	/* -------------------------------------------------------------------------- */
	/*                                   Spacing                                  */
	/* -------------------------------------------------------------------------- */
	--space-3xs: 2px;
	--space-2xs: 4px;
	--space-xs: 8px;
	--space-sm: 12px;
	--space-md: 16px;
	--space-lg: 20px;
	--space-xl: 24px;
	--space-2xl: 40px;
	--space-3xl: 64px;
	/* ---------------------------------- Color --------------------------------- */
	--yellow20: rgb(36, 17, 0);
	--yellow80: rgb(251, 173, 0);
	--yellow98: rgb(255, 245, 205);
}
@supports (color: color(display-p3 0 0 0)) {
:root {
	--yellow20: color(display-p3 0.13463 0.06925 0.00000);
}
}
@supports (color: color(display-p3 0 0 0)) {
:root {
	--yellow80: color(display-p3 0.95358 0.68394 0.00000);
}
}
@supports (color: color(display-p3 0 0 0)) {
:root {
	--yellow98: color(display-p3 1.00000 0.96294 0.80480);
}
}
/* Add antialiasing to the font of the body */
body {
	background-color: #f0f1ea;
	color: #121212;
	margin: 0;
	padding: 64px;
	padding: var(--space-3xl);
	margin-bottom: 100px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@media (max-width: 600px) {
body {
		padding: 24px;
		padding: var(--space-xl);
}
	}
.aboveFold {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
		gap: var(--space-xl);
		font-weight: 600;
		text-align: center;
}